{% extends 'base.html' %}
{% block body %}
<h1>Welcome to Vertical Tank Maintence!</h1>
<img src="../images/vtm_tanks.jpg" alt="VTM_Image" />
<p>Quis est. Officia consequatur for voluptas yet aute tempora. Duis. Aspernatur. Fugiat commodi consequat for sunt for cupidatat so exercitationem. Culpa omnis. Adipisci exercitation velit for eum but minima. Proident consequuntur lorem and lorem magni. Iste adipisci or ullamco. Nequeporro perspiciatis. Aliquid officia aliquid. Laboris minima eaque, yet esse. Nulla ut laboris and ad. Beatae nostrum so consequat yet nihil. Labore proident cupidatat proident occaecat and quaerat quo. Ut consequat. Ipsa molestiae natus autem or dolores. Autem. Aut consequatur yet minima doloremque, and consequat but ea. Quisquam. Ab aut inventore nisi. Quaerat eaque, consequatur, aperiam lorem magna. Sequi nostrum laboris lorem.</p>
{% endblock %}
